@{
    ViewBag.Title = "Unauthorized Access";
}

<p>You do not have permission to view this page. Please contact the administrator if you believe this is an error.</p>
<style>
    p{
        font-size:20px;
        position:center;
    }

</style>